{% extends 'base.html.twig' %}

{% block title %}Port-Folio Steven Da Costa {% endblock %}

{% block body %}
  <header class="" id="porte_folio">
    <div id="header-img"></div>
    <h1>Steven Da Costa</h1>
    <h2>Développeur Web et Web Mobile</h2>
  </header>

  <main class="container-fluid"></main>

  <div class="row">
    {% for projet in projets %}
      <div class="col-4 p-3">
        <div class="card">
          <img src="{{ 'img/' ~ projet.img }}" class="card-img-top" alt="Photo principale" id="card">
          <div class="card-body">
            <h5 class="card-title">{{ projet.nomprojet}}</h5>
          </div>
          <ul class="list-group list-group-flush">
            <li class="list-group-item">{{ projet.description}}</li>
          </ul>
          <div class="card-body text-center">
            <a href="{{ projet.link}}" class="btn btn-outline-secondary">Voir plus en détail le projet</a>
          </div>
        </div>
      </div>
      {% endfor %}
  </div>
{% endblock %}
