{% extends 'base.html.twig' %}

{% block title %}Portfolio Steven Da Costa {% endblock %}

{% block body %}
  <header class="" id="porte_folio">
    <div id="header-img"></div>
    <h1>Steven Da Costa</h1>
    <i class="fa-brands fa-html5"></i>
    <h2>Développeur Web et Web Mobile</h2>
  </header>

  <main class="container-fluid"></main>

  <div class="row">
    {% for projet in projets %}
      <div class="col-4 p-3">
        <div class="card">
          <img src="{{ 'img/' ~ projet.img }}" class="card-img-top" alt="Photo principale" id="card">
          <div class="card-body">
            <h5 class="card-title">{{ projet.nomprojet}}</h5>
          </div>
          <ul class="list-group list-group-flush">
            <li class="list-group-item">{{ projet.description}}</li>
          </ul>
          <div class="card-body text-center">
            <a href="{{ projet.link}}" class="btn btn-outline-secondary">Voir plus en détail le projet</a>
          </div>
        </div>
      </div>
      {% endfor %}
  </div>
  <div id="competences"class="container-fluid">
    <div class="row">
      <div class="col-12 text-center">
        <h2 class="p-5">Compétences</h2>
      </div>
      <div class="col-sm-10 offset-sm-1 col-md-6 offset-md-0 col-lg-4 p-5">
        <h3 class="text-center">Dévellopeur Front</h3>
        <div class="dropdown-divider"></div>
          <p><i class="fab fa-html5" style="color: #E96228"></i> HTML</p>
          <p><i class="fab fa-css3-alt" style="color: #2862E9"></i> CSS</p>
          <p><i class="fab fa-php" style="color: #777BB3"></i> PHP</p>

      </div>
      <div class="col-sm-10 offset-sm-1 col-md-6 offset-md-0 col-lg-4 p-5">
        <h3 class="text-center">Dévellopeur Back</h3>
        <div class="dropdown-divider"></div>
          <p>MySQL</p>
          <p>PhpMyAdmin</p>
          <p>PHP : my_squi et PDO</p>
      </div>
      <div class="col-sm-10 offset-sm-1 col-md-6 offset-md-0 col-lg-4 p-5">
        <h3 class="text-center">Framework et Autres Logiciels</h3>
        <div class="dropdown-divider"></div>
          <p><i class="fab fa-symfony"></i> Symfony</p>
          <p>Twig</p>
          <p>PHP : RedBean</p>
          <p>C#</p>
          <p><i class="fab fa-python"></i> Python</p>
      </div>
    </div>
  </div>
{% endblock %}
